<p>Add activity:</p>
<form [formGroup]="addActivity" (ngSubmit)="onSubmit()">
	<div>
		<label for="name">Activity:</label>
		<input type="text" id="name" formControlName="name">
	</div>
	<div>
		<label for="priority">Priority:</label>
		<input type="text" id="priority" formControlName="priority">
	</div>
	<div>
		<label for="repeats">Repeats:</label>
		<input type="text" id="repeats" formControlName="repeats">
	</div>
	<div>	
		<label for="ends">Ends:</label>
		<input type="text" id="ends" formControlName="ends">
	</div>
	<button class="button" type="submit">Add Activity</button>
  
</form>
<p>Activites:</p>
@for (assign of assignments(); track $index) {
	<p>{{assign.name}}</p>
}

