<p>Add activity:</p>
<!-- <form>
	<label for="name">Activity:</label><br>
	<input type="text" id="name" name="name"><br>
	<label for="priority">Priority:</label><br>
	<input type="text" id="priority" name="priority"><br>
	<label for="repeats">Repeats:</label><br>
	<input type="text" id="repeats" name="repeats"><br>
	<label for="ends">Ends</label><br>
	<input type="text" id="ends" name="ends">
	<input type="submit" value="Submit">
</form>  -->
<form [formGroup]="addActivity">
	<label for="name">Activity:</label><br>
	<input type="text" id="name" name="name"><br>
	<label for="priority">Priority:</label><br>
	<input type="text" id="priority" name="priority"><br>
	<label for="repeats">Repeats:</label><br>
	<input type="text" id="repeats" name="repeats"><br>
	<label for="ends">Ends</label><br>
	<input type="text" id="ends" name="ends"><br>
	<button class="button" type="submit">Add Activity</button>
  
</form>
<p>Activites:</p>
@for (assign of assignments(); track $index) {
	<p>{{assign.name}}</p>
}

